# Logs
logs
*.log
npm-debug.log*

# Runtime / dist
node_modules
dist
release
out
.DS_Store

# Editor
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Env
.env
.env.local

# Build caches
.cache
.parcel-cache
.turbo
*.tsbuildinfo
